body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

/* LOGIN */

.login-box{
width:300px;
margin:120px auto;
background:#1e293b;
padding:30px;
border-radius:12px;
text-align:center;
}

.login-box input{
width:90%;
padding:10px;
margin:10px;
border-radius:6px;
border:none;
}

/* DASHBOARD */

.container{
text-align:center;
padding:30px;
}

.dashboard{
display:flex;
flex-direction:column;
gap:20px;
max-width:300px;
margin:auto;
}

button{
padding:15px;
font-size:16px;
border:none;
border-radius:10px;
background:#3b82f6;
color:white;
cursor:pointer;
}

button:hover{
background:#2563eb;
}

/* TABLE */

table{
width:100%;
max-width:600px;
margin:auto;
border-collapse:collapse;
background:#1e293b;
}

th,td{
padding:12px;
border:1px solid #334155;
}

th{
background:#3b82f6;
}

ul{
list-style:none;
padding:0;
}